<img src="/assets/images/features.jpg">

<!-- <h2><b>EXTRA FEATURES</b></h2> -->

  <ul>
    <li>
    <p>In case you lost your Authentication Token, don't worry.</p>
    <p>You can revisit your Authentication token.</p>
        <p> Go to: </p>
      <a routerLink="/fetchdata">Show my Auth Token</a>
    </li>
    <br>
    <li>
      <p>You can also visualize data of multiple areas if you want to see the comparison of water usage at many different locations </p>
      
      </li>
      <li>
        You can get real time data from devices.
      </li>
    </ul>


