
<h3 style="text-align:center; color:blue"><b>Connection Requests</b></h3>
<div>

  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Username</th>
          <th scope="col">Device Id</th>
          <th scope="col">Classname</th>
          <th scope="col">Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" *ngFor="let device of connRequests; let i=index;">
          <td>{{i+1}}</td>
          <td>{{device.username}}</td>
          <td>{{device._id}}</td>
          <td>{{device.classname}}</td>
          <td>{{device.description}}</td>
          <td (click)="addDevice(device._id,device.classname,device.description)"><button>Create Connection</button></td>
          <!-- <td (click)="deleteDevice(device.deviceId)" id="i" ng-value="myVar"><button type="button" class="btn btn-danger disabled">DELETE</button></td>
          <td (click)="showAuth(device)"><button type="button" class="btn btn-primary">Show Authentication Token</button></td>
          <td >{{device['authToken']}}</td> -->
        </tr>
      </tbody>
    </table>
</div>

<div style="text-align:center; color:green">{{auth}}</div>
