<h2 style="text-align:center; color:green">{{msg}}</h2>
<div>
<div class="col-sm-3" style="top: 0.6cm">
    <table class="table table-hover" align="left" border=1>
          <th style="background-color: lightslategrey; color: white">Device Id</th>
          <tr *ngFor="let device of displayDevices; let i=index;">
            <td><a href={{device}}>{{device}}</a></td>
          </tr>
    </table>
  </div>
  &nbsp;
  
  
  <agm-map id="map1" [latitude]="latitude" [longitude]="longitude" id="cname" name="locationcoords">
        <agm-marker [latitude]="latitude" [longitude]="longitude">
          <agm-info-window>
            <input #textInput (input)="myFunction(textInput.value)" value={{value}}>
            <input type="submit" value="Confirm" (click)="connectDevice(textInput.value)">
          </agm-info-window>
        </agm-marker>
  </agm-map>
</div>
  
