<div id="fullPage">
<app-header></app-header>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-UU2jkdv1M9UEjLje/kygVxqMBq9Jrg9z+Gqvw972H6BqKTzDvLaRJfK7PnzLM4SI" crossorigin="anonymous">

<div *ngIf="user.getLog()=='admin'">
  <div>Welcome {{user.getWelcome()}}</div>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <div class="topnav" id="myTopnav" style="width:100%">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="current" routerLink="/dashboard">Home</a>
        </li>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        
        <li>
          <div>
            <select class="my-select col s12" #select (change)="Navigate(select.value)" id="select">
              <option value="" disabled selected>Devices</option>
              <option  value='fetchdata'>Device List</option>
              <option  value='devicediscovery'>Discover Devices</option>
            </select>
          </div>  
        </li>

        <li>
            <a routerLink="/devicetype">Connection Request</a>
        </li>

        <li>
            <a routerLink="/devicetype">Add New Device Type</a>
        </li>

        <li>
          <a routerLink="/add-device">Add New Device</a>
        </li>

        <li>
          <a routerLink="/graph">Show Graph</a>
        </li>
      
        <table border=1 *ngIf="user.returnCount()==true">
         <tr>
           <td background-color="white">
              <font color="white">Available Devices: {{user.getCount()}}</font>
           </td>
         </tr>
        </table>
      
        <div class="right">
          <a href="/" (click)="user.logout()">Logout</a>
        </div>
      </ul>
        
    </div>
  </nav>
  <br>  
</div>

<router-outlet></router-outlet>
